.list{
    width:100%;
    margin-top: 10px;

    .listTitle{
        color:white;
        font-size: 20px;
        font-weight: 500;
        font-weight: 500;
    }

    .wrapper{
        position: relative;

        .sliderArrow{
            width: 50px;
            height: 100%;
            background-color: rgb(27, 25, 25,0.5);
            color:white;
            position: absolute;
            z-index: 100;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            &.left{
                left:0
            }
            &.right{
                right:0
            }
        }

        .container{
            margin-left: 50px;
            display: flex;
            width: max-content;
            margin-top: 10px;
            transform: translateX(0px);
            transition: all 0.5s ease;
        }
    }
}